<!DOCTYPE html>
<html  lang="en-US">
    <head>
        <title>myself</title>
    </head>

    <body>
        <h1>This is a little about me-Mr.Meow.</h1>
        <p>I love cat food, sleeping and scratching furniture.</p>
        <p>Birds turn me into a murderous little monster that you cannot help but love.</p>
        <p>Anyway, look at how cute i am:</p>
        <img src="/static/cat.jpeg" alt="Mr.Meow" style="width: 200px; height: 210px;">
        <h1>{{pussycat}}</h1>
        <h1>{{pussycat2}}</h1>
        <h1>I love you {{jina.title()}} with an {{jina[0].upper()}}.</h1>
        <!--static files such as images should go into a
                                                                folder called static-->
    </body>
</html>
