body{
    background:whitesmoke;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size:100px;
    color:rgb(35, 3, 22);
    text-align:center;
}

#cutey{
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    text-align:center;

}

#image{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.did_you_know{
    
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-size:30px;
    background-color:rgba(67, 142, 200, 0.5);
    border:black;
    border-width:thin;
    border-style:inherit;
}

.cat_types{
    
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-size:30px;
    background-color:rgba(67, 142, 200, 0.5);
    border:thin;
    border-color:rgb(15, 13, 10);
    border-style:groove;
}
/*div{
    background-color: rgba(101, 139, 228, 0.5);
    border:black;
    border-width:thin;
    border-style:inherit;
} */

span{
    background-color:pink;
    color:black;


}

#love_cats{
    font-size:20px;
    font-style:italic;
    font-family:cursive;
    text-align:center;
}


/* 
body{
    background:url(enter url here);
    background-repeat: no-repeat; #has more options
}

div{
    border:blue 10px solid;
    or even
    border-color:brown (in full instead of border)
}

h1{
    color:plum;
}

h1{
    color:rgb(10,20,3000);    #red,green,blue
}

h1{
    color:#9e32a8;             stands for hex value.google hex color to get codes.
}

h1{
    color:rgba(10,200,1000,0.5)                #red,green,blue, alpha.Allows you to add a fourth value of transparency.
                              0-fully transparent
                              0.5-translucent
                              1-fully opaque
}

-every html element can accept a class or id attribute.
syntax
.(period) for a class call
# for an id call
-classes are used to assign a css style to multiple different elements throughout the HTML
-ids are used to apply a style to a single element.
-ids should be used for unique elements.
